@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #06283d;
}

.container {
	position: relative;
	width: 400px;
	height: 105px;
	background-color: #fff;
	padding: 28px 32px;
	overflow: hidden;
	border-radius: 18px;
	font-family: "Roboto", sans-serif;
	transition: 0.6s ease-out;
}

.search-box {
	width: 100%;
	height: min-content;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}

.search-box i {
	position: relative;
	font-size: 30px;
	color: #06283d;
}

.search-box input {
	color: #06283d;
	width: 80%;
	font-size: 24px;
	font-weight: 600;
	border: none;
	text-transform: uppercase;
	padding-left: 20px;
}

.search-box input::placeholder {
	font-size: 20px;
	font-weight: 500;
	color: #06283d;
	text-transform: capitalize;
}

.search-box button {
	width: 50px;
	height: 50px;
	background-color: #dff6ff;
	color: #06283d;
	cursor: pointer;
	font-size: 24px;
	border: none;
	border-radius: 50%;
	transition: all 0.3s ease;
}

.search-box button:hover {
	color: #fff;
	background-color: #06283d;
}

.weather-box {
	text-align: center;
}

.weather-box img {
	width: 60%;
	margin-top: 30px;
}

.weather-box .temperature {
	position: relative;
	margin-left: -10px;
	color: #06283d;
	font-size: 20px;
	font-weight: 800;
}

.weather-box .temperature span {
	position: absolute;
	margin-left: 4px;
}

.weather-box .description {
	color: #06283d;
	font-size: 22px;
	font-weight: 500;
	text-transform: capitalize;
}

.weather-details {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.weather-details .humidity,
.weather-details .wind {
	display: flex;
	align-items: center;
	width: 50%;
	height: 100px;
}

.weather-details .humidity {
	padding-left: 20px;
	justify-content: flex-start;
}

.weather-details .wind {
	padding-right: 20px;
	justify-content: flex-end;
}

.weather-details i {
	color: #06283d;
	font-size: 26px;
	margin-right: 10px;
	margin-top: 6px;
}

.weather-details span {
	color: #06283d;
	font-size: 22px;
	font-weight: 500;
}

.weather-details p {
	color: #06283d;
	font-size: 14px;
	font-weight: 500;
}

.not-found {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	scale: 0;
	opacity: 0;
	display: none;
}

.not-found img {
	width: 70%;
}

.not-found p {
	color: #06283d;
	font-size: 22px;
	font-weight: 500;
	margin-top: 12px;
}

.weather-box,
.weather-details {
	scale: 0;
	opacity: 0;
}

.fade-in {
	animation: fadeIn 0.5s 0.5s forwards;
}

@keyframes fadeIn {
	to {
		scale: 1;
		opacity: 1;
	}
}
